.hero {
    background-color: #495E57;
}

.hero-content {
    width: 66.67%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-info {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 37.5%;
    h1 {
        margin-bottom: 0;
        color: #F4CE14;
    }
    h2 {
        margin-top: 0;
    }
}

.hero-image {
    width: 37.5%;
    /* position: relative; */
    img {
        max-width: 100%;
        border-radius: 16px;
        /* position: absolute; */
    }
}

@media only screen and (max-width: 800px) {
    .hero-content {
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-info {
        width: 100%;
        text-align: center;
    }
    .hero-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}