.specials {
    display: flex;
    flex-direction: column;
    width: 66.67%;
}

.specials-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.specials-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .specials-title {
        flex-direction: column;
        h1 {
            text-align: center;
        }
        margin-bottom: 30px;
    }

    .specials-container {
        flex-direction: column;
    }
}