@import url("https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Markazi+Text&display=swap");

#root {
  background-color: #FFFFFF;
  color: #000000;
  font-family: "Karla";
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Markazi Text"
}